<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <div th:object="member"></div>-->
    <h1>hi1</h1>
    <div th:object="${wordTestDto}">
        <p>Word: <span th:text="*{word}">Default Word</span></p>
        <p>Sentence: <span th:text="*{sentence}">Default Sentence</span></p>
        <p>Sentence Meaning: <span th:text="*{sentenceMeaning}">Default Sentence Meaning</span></p>
    </div>
<form action="/aa" th:object="${answer}" method="post">
    <label for="userAnswer">Your Answer:</label>
    <input type="hidden" th:field="*{answer}">
    <input type="text" id="userAnswer" th:field="*{userAnswer}" />
    <button type="submit">Submit</button>
</form>
</body>
</html>